.label1 button{
    font-family: Poppins-Medium;
    font-size: 14px;
    color: #333;
    padding: 5px 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.label1 button:hover{
    text-decoration: none;
    color: #6c7ae0;
}

.item-slick1 {
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    background-color: white; /* Mặc định nền trắng */
}

.active-slide {
    transform: scale(1.1); /* Hiệu ứng phóng to khi slide active */
    background-color: white;
}
