<div class="login-container">
    <div class="image-container">
        <img src="https://media.licdn.com/dms/image/v2/D4D0BAQG4-oyhJObyeQ/company-logo_200_200/company-logo_200_200/0/1692049150669/dream_store_brinquedos_logo?e=2147483647&v=beta&t=tMKRIMyWlenH5Iv1wIijIfCBTSAuiZ6FAW9vWR5M0Cs" alt="Hình ảnh minh họa">
    </div>
    <div class="login-box">
        <h2>Đăng Nhập</h2>
        <form (ngSubmit)="kiemTraTaiKhoan()" #taiKhoanForm="ngForm">
            <div class="textbox">
                <input type="text" placeholder="email" name="tenTaiKhoan" [(ngModel)]="tentaikhoan" required>
                <div class="tooltip-error" *ngIf="errors.email">
                    {{ errors.email}}
                  </div>
            </div>
            <div class="textbox">
                <input type="password" placeholder="Mật khẩu" name="matKhau" [(ngModel)]="matkhau" required>
                <div class="tooltip-error" *ngIf="errors.matKhau">
                    {{ errors.matKhau}}
                  </div>
            </div>
            <div class="remember-container">
                <label>
                    <input type="checkbox" name="remember"> Ghi nhớ đăng nhập
                </label>
                <a href="layotp" class="forgot-password">Quên mật khẩu?</a>
            </div>
            
            <div class="button-container">
                <button type="submit">Đăng Nhập</button>
            </div>
            <div class="signup">
                <p>Bạn chưa có tài khoản? <a href="dangky">Đăng ký</a></p>
            </div>
        </form>
    </div>
</div>