<div class="header">
    <div class="logo">
      <img src="https://media.licdn.com/dms/image/v2/D4D0BAQG4-oyhJObyeQ/company-logo_200_200/company-logo_200_200/0/1692049150669/dream_store_brinquedos_logo?e=2147483647&v=beta&t=tMKRIMyWlenH5Iv1wIijIfCBTSAuiZ6FAW9vWR5M0Cs" alt="Logo">
    </div>
    <nav class="nav-icons">
      <a href="#"><i class="bi bi-search" ></i></a>
      <a href="#" (click)="cardModal($event)" class="cart-icon">
        <i class="bi bi-cart4"></i>
        <span *ngIf="gioHang.length > 0" class="cart-count">{{ gioHang.length }}</span>
      </a>
      <a href="#"><i class="bi bi-person-circle"></i></a>
    </nav>
  </div>

  <div class="cart-overlay" [class.show]="modalCard" (click)="cardModal($event)"></div>

  <div class="cart-modal" [class.show]="modalCard">
    <div class="cart-content">
      <button class="close-btn" (click)="cardModal($event)">x</button>
      <h2>Giỏ hàng</h2>
      
      <div *ngIf="gioHang.length > 0; else emptyCart">
        <div *ngFor="let item of gioHang" class="cart-item">
          <!-- Ảnh sản phẩm -->
          <img [src]="'http://localhost:8080' + item.anhUrl" alt="Ảnh sản phẩm" class="product-img">
  
          <!-- Thông tin sản phẩm -->
          <div>
            <p><strong>{{ item.tenSanPham }}</strong></p>
            <p>{{ item.mau }} / {{ item.size }}</p>
            <p>Số lượng</p>
            <div class="quantity-control">
              <button class="quantity-btn" (click)="suaSoLuong(item.id, item.soLuong - 1)" [disabled]="item.soLuong <= 1">-</button>
              <span>{{ item.soLuong }}</span>
              <button class="quantity-btn" (click)="suaSoLuong(item.id, item.soLuong + 1)">+</button>
              <button class="delete-btn" (click)="xoaSanPham(item.id)">
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </div>
  
          <!-- Giá sản phẩm -->
          <p>{{ item.donGia | number }} VND</p>
        </div>
      </div>
      <div class="cart-footer">
        <div class="cart-total">
          <p><strong>Tổng tiền: </strong> <span>{{ getTongTien() | number }} VND</span></p>
        </div>
        <div class="payment">
          <button class="btn-payment">Thanh toán</button>
        </div>
      </div>
      
      <ng-template #emptyCart>
        <p>Giỏ hàng trống</p>
      </ng-template>
    </div>
  </div>
  
  

