<div class="header">
    <div class="logo">
      <img src="https://media.licdn.com/dms/image/v2/D4D0BAQG4-oyhJObyeQ/company-logo_200_200/company-logo_200_200/0/1692049150669/dream_store_brinquedos_logo?e=2147483647&v=beta&t=tMKRIMyWlenH5Iv1wIijIfCBTSAuiZ6FAW9vWR5M0Cs" alt="Logo">
    </div>
    <nav class="nav-icons">
      <a href="#"><i class="bi bi-search"></i></a>
      <a href="#" (click)="cardModal($event)"><i class="bi bi-bag"></i></a>

      <a href="#"><i class="bi bi-person-circle"></i></a>
    </nav>
  </div>

  <!-- Modal giỏ hàng -->
<div class="cart-modal" [class.show]="modalCard">
    <div class="cart-content">
      <button class="close-btn" (click)="cardModal($event)">x</button>
      <h2>Giỏ hàng</h2>
      <p>Danh sách sản phẩm trong giỏ hàng...</p>
    </div>
  </div>