
<div class="container">
    <h2>Xác thực OTP</h2>
    
    <!-- Nhập email -->
    <input type="email" [(ngModel)]="email" name="email" placeholder="Nhập email của bạn">
    <div class="tooltip-error" *ngIf="errors.email">
        {{ errors.email}}
    </div>
    <button class="send-otp" (click)="sendOtp()">Gửi </button>

    <!-- Hiển thị nhập OTP khi đã gửi email -->
    <div *ngIf="showOtpSection" class="c">
        <input type="text" [(ngModel)]="otp" placeholder="Nhập mã OTP">
        <button class="verify-otp" (click)="verifyOtp()">Xác thực OTP</button>
        <button class="resend-otp" (click)="sendOtp()">Gửi lại mã OTP</button>
    </div>

    <!-- Phần thay đổi mật khẩu -->
    <div *ngIf="otpVerified" >
        
        <input type="password" [(ngModel)]="newPassword" placeholder="Nhập mật khẩu mới" />
        <input type="password" [(ngModel)]="confirmPassword" placeholder="Xác nhận mật khẩu" />
        <div class="tooltip-error" *ngIf="errorPass.pass">
            {{ errorPass.pass}}
        </div>
        <button class="change-password" (click)="changePassword()">Đổi mật khẩu</button>
    </div>
</div>
