/* General container styles */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 100px;
}

/* Title styling */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

/* Input field styling */
input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Button styling */
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Send OTP button style */
.send-otp {
  background-color: black;
  color: white;
  
}

/* OTP section button styles */
.verify-otp {
  background-color: black ;
  color: white;
  margin-bottom: 10px;
}

.resend-otp {
  background-color: black;
  color: white;
  
}

/* Change password button */
.change-password {
  background-color: black;
  color: white;
}

/* Hover effect for buttons */
button:hover {
  opacity: 0.9;
}

/* OTP input section styles */
.showOtpSection {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

/* Error message styles */
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.tooltip-error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
.c{
  padding-bottom: 10px;
  padding-top: 10px;
}
