<nav>
  <ul>
    <li class="auth">
      <a href="#"><i class="bi bi-person-circle"></i> Đăng nhập</a>
    </li>
  </ul>
</nav>

<!-- Slide Show -->
 <div class="logo">
  <img src="https://media.licdn.com/dms/image/v2/D4D0BAQG4-oyhJObyeQ/company-logo_200_200/company-logo_200_200/0/1692049150669/dream_store_brinquedos_logo?e=2147483647&v=beta&t=tMKRIMyWlenH5Iv1wIijIfCBTSAuiZ6FAW9vWR5M0Cs" alt="">
 </div>
 <div class="text">
  <h1>Enjoy Your Youth!</h1>
    <p>Không chỉ là thời trang, DREAM còn là “phòng thí nghiệm” của tuổi trẻ - nơi nghiên cứu và <br> cho ra đời nguồn năng lượng mang tên “Youth”. Chúng mình luôn muốn tạo nên những trải <br> nghiệm vui vẻ, năng động và trẻ trung.</p>
 </div>

<!-- Danh sách sản phẩm -->
<div class="container">
  <h2 class="text-center my-4">Danh sách sản phẩm</h2>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let sanPham of sanPhamOnlines">
      <div class="card">
        <!-- Ảnh sản phẩm -->
        <img [src]="'http://localhost:8080' + sanPham.anhUrl"
        class="card-img-top"
        alt="">   
        <div class="card-body">
          <h5 class="card-title">{{ sanPham.ten }}</h5>
          <p class="card-text"><strong>Giá:</strong> {{ sanPham.gia | currency:'VND' }}</p>
          <button class="btn btn-primary">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="image-banner">
  <img src="https://bizweb.dktcdn.net/100/415/697/products/trang-kem.jpg?v=1730884512857" alt="">
  <img src="https://bizweb.dktcdn.net/100/415/697/products/img-1706-1.jpg?v=1730800585823" alt="">
  <img src="https://bizweb.dktcdn.net/100/415/697/products/img-7825-1.jpg?v=1721183882410" alt="">
 </div>
