<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image"></div>
      <div class="col-md-6 right">
        <div class="input-box">
          <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <header>LOGIN</header>

  <!-- Email Input -->
<div class="input-field">
  <input type="text" class="input" id="email" name="email" required
         [(ngModel)]="loginData.email" #email="ngModel"
         (input)="onInputChange('email')">
  <label for="email">Email</label>

  <!-- Hiển thị lỗi email sau khi nhấn submit -->
  <div *ngIf="submitted && errors.email" class="error">
    {{ errors.email }}
  </div>
</div>

<!-- Password Input -->
<div class="input-field">
  <input type="password" class="input" id="pass" name="password" required
         [(ngModel)]="loginData.password" #password="ngModel"
         (input)="onInputChange('password')">
  <label for="pass">Password</label>

  <!-- Hiển thị lỗi mật khẩu sau khi nhấn submit -->
  <div *ngIf="submitted && errors.password" class="error">
    {{ errors.password }}
  </div>
</div>


            <!-- Submit Button -->
            <div class="input-field">
              <button type="submit" class="submit" [disabled]="loading">
                Login
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>