<!-- <script>
  document.getElementById("editButtonId").addEventListener("click", function(event) {
      event.preventDefault();
      // Hiển thị form sửa
      document.getElementById("editForm").style.display = "block";
  });
</script> -->


<div>
  <p class="title">Danh sách sản phẩm</p>
  <p class="filter">Tìm kiếm sản phẩm</p>
</div>
<div class="bordered-container">
  <div class="input-row">
    <!-- Combobox 1 -->
    <div class="input-field">
      <select class="input" id="thuongHieu" name="thuongHieu" [(ngModel)]="searchFilter.thuongHieu.id">
        <option value="" selected>Chọn thương hiệu</option>
        <option *ngFor="let thuongHieu of thuongHieus" [value]="thuongHieu.id">{{thuongHieu.ten}}</option>
      </select>
      <label for="thuongHieu">Thương hiệu</label>
    </div>

    <!-- Combobox 2 -->
    <div class="input-field">
      <select class="input" id="xuatXu" name="xuatXu" [(ngModel)]="searchFilter.xuatXu.id">
        <option value="" selected>Chọn xuất xứ</option>
        <option *ngFor="let xuatXu of xuatXus" [value]="xuatXu.id">{{xuatXu.ten}}</option>
      </select>
      <label for="xuatXu">Xuất xứ</label>
    </div>

    <!-- Combobox 3 -->
    <div class="input-field">
      <select class="input" id="chatLieu" name="chatLieu" [(ngModel)]="searchFilter.chatLieu.id">
        <option value="" selected>Chọn chất liệu</option>
        <option *ngFor="let chatLieu of chatLieus" [value]="chatLieu.id">{{chatLieu.ten}}</option>
      </select>
      <label for="chatLieu">Chất liệu</label>
    </div>

    <!-- Combobox 4 -->
    <div class="input-field">
      <select class="input" id="coAo" name="coAo" [(ngModel)]="searchFilter.coAo.id">
        <option value="" selected>Chọn cổ áo</option>
        <option *ngFor="let coAo of coAos" [value]="coAo.id">{{coAo.ten}}</option>
      </select>
      <label for="coAo">Cổ áo</label>
    </div>

    <!-- Combobox 5 -->
    <div class="input-field">
      <select class="input" id="trangThai" name="trangThai" [(ngModel)]="searchFilter.trangThai">
        <option value="" selected>Chọn trạng thái</option>
        <option value="1">Hoạt động</option>
        <option value="0">Không hoạt động</option>
      </select>
      <label for="trangThai">Trạng thái</label>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="showModal" (click)="closeModalSanPham()">
  <div class="modal-box" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModalSanPham()">×</button>
    <form>
      <div class="input-row">
        <div class="input-field">
          <input type="text" class="input" id="ma" name="ma" [(ngModel)]="sanPhamRequest.ma" autocomplete="off">
          <label for="ma">Mã sản phẩm</label>
        </div>
        <div class="input-field">
          <input type="text" class="input" id="ten" name="ten" [(ngModel)]="sanPhamRequest.ten">
          <label for="ten">Tên sản phẩm</label>
        </div>
        <div class="input-field">
          <select class="input" id="thuongHieu" name="thuongHieu" [(ngModel)]="sanPhamRequest.thuongHieu.id">
            <option value="" disabled selected>Chọn thương hiệu</option>
            <option *ngFor="let thuongHieu of thuongHieus" [value]="thuongHieu.id">{{thuongHieu.ten}}</option>
          </select>
          <label for="thuongHieu">Thương hiệu</label>
        </div>
      </div>
      <div class="input-row">
        <div class="input-field">
          <select class="input" id="xuatXu" name="xuatXu" [(ngModel)]="sanPhamRequest.xuatXu.id">
            <option value="" disabled selected>Chọn xuất xứ</option>
            <option *ngFor="let xuatXu of xuatXus" [value]="xuatXu.id">{{xuatXu.ten}}</option>
          </select>
          <label for="xuatXu">Xuất xứ</label>
        </div>
        <div class="input-field">
          <select class="input" id="chatLieu" name="chatLieu" [(ngModel)]="sanPhamRequest.chatLieu.id">
            <option value="" disabled selected>Chọn chất liệu</option>
            <option *ngFor="let chatLieu of chatLieus" [value]="chatLieu.id">{{chatLieu.ten}}</option>
          </select>
          <label for="chatLieu">Chất liệu</label>
        </div>
        <div class="input-field">
          <select class="input" id="coAo" name="coAo" [(ngModel)]="sanPhamRequest.coAo.id">
            <option value="" disabled selected>Chọn cổ áo</option>
            <option *ngFor="let coAo of coAos" [value]="coAo.id">{{coAo.ten}}</option>
          </select>
          <label for="coAo">Cổ áo</label>
        </div>
      </div>
      <div class="input-row">
        <div class="input-field">
          <select class="input" id="trangThai" name="trangThai" [(ngModel)]="sanPhamRequest.trangThai">
            <option value="" disabled selected>Chọn trạng thái</option>
            <option value="1">Hoạt động</option>
            <option value="0">Không hoạt động</option>
          </select>
          <label for="trangThai">Trạng thái</label>
        </div>
      </div>
      <button type="button" class="btn-primary" 
      *ngIf="!sanPhamRequest.id" 
      (click)="addSanPham()">Thêm</button>
    <button type="button" class="btn-primary" 
      *ngIf="sanPhamRequest.id" 
      (click)="updateSanPham()">Cập nhật</button>    
    </form>
  </div>
</div>

<div class="table-container">
  <div class="button-row">
    <button (click)="openModalSanPham()" class="button btn-primary">Thêm sản phẩm</button>
    <button (click)="openModalSanPham()" class="button btn-primary">Quản lý thuộc tính</button>
    <button (click)="openModalSanPham()" class="button btn-primary">Xuất file excel</button>
  </div>
  <div class="table-scrollable">
    <table class="product-table">
      <thead>
        <tr>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Thương hiệu</th>
          <th>Xuất xứ</th>
          <th>Chất liệu</th>
          <th>Cổ áo</th>
          <th>Ngày tạo</th>
          <th>Ngày sửa</th>
          <th>Trạng thái</th>
          <th colspan="2">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sanPham of sanPhams">
          <td>{{ sanPham.ma }}</td>
          <td>{{ sanPham.ten }}</td>
          <td>{{ sanPham.tenThuongHieu }}</td>
          <td>{{ sanPham.tenXuatXu }}</td>
          <td>{{ sanPham.tenChatLieu }}</td>
          <td>{{ sanPham.tenCoAo }}</td>
          <td>{{ sanPham.ngayTao }}</td>
          <td>{{ sanPham.ngaySua }}</td>
          <td>{{ sanPham.trangThai === 1 ? "Hoạt động" : "Không hoạt động" }}</td>
          <td>
              <button (click)="openModalSanPhamChiTiet(sanPham.id)" class="button btn-primary">Chi tiết</button>
              <a href="javascript:void(0);" (click)="editSanPham(sanPham)" class="button btn-danger">Sửa</a>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Chi Tiết -->
<div class="modal-overlay" *ngIf="showModalSanPhamChiTiet" (click)="closeModalSanPhamChiTiet()">
  <div class="modal-box modal-full" (click)="$event.stopPropagation()">
    <!-- Nút Close -->
    <button class="close-btn" (click)="closeModalSanPhamChiTiet()">×</button>
    <div>
      <p class="title">Danh sách sản phẩm chi tiết</p>
      <p class="filter">Tìm kiếm sản phẩm chi tiết</p>
    </div>
    <div class="detail-container">
      <div class="table-container">
        <div class="button-row">
          <button (click)="openModalSanPhamChiTietThem()" class="button btn-primary">Thêm sản phẩm chi tiết</button>
          <button class="button btn-primary">Xuất file excel</button>
        </div>
        <div class="modal-overlay" *ngIf="showModalSanPhamChiTietThem" (click)="closeModalSanPhamChiTietThem()">
          <div class="modal-box" (click)="$event.stopPropagation()">
            <button class="close-btn" (click)="closeModalSanPhamChiTietThem()">×</button>
            <form>
              <div class="input-row">
                <div class="input-field">
                  <input type="text" class="input" id="ma" name="ma" [(ngModel)]="sanPhamChiTietRequest.ma" autocomplete="off">
                  <label for="ma">Mã sản phẩm chi tiết</label>
                </div>
                <div class="input-field">
                  <input type="text" class="input" id="ten" name="ten" [(ngModel)]="sanPhamRequest.ten">
                  <label for="ten">Tên sản phẩm</label>
                </div>
                <div class="input-field">
                  <input type="text" class="input" id="gia" name="gia" [(ngModel)]="sanPhamChiTietRequest.gia">
                  <label for="gia">Giá</label>
                </div>
              </div>
              <div class="input-row">
                <div class="input-field">
                  <input type="text" class="input" id="soLuong" name="soLuong" [(ngModel)]="sanPhamChiTietRequest.soLuong">
                  <label for="soLuong">Số lượng</label>
                </div>
                <div class="input-field">
                  <select class="input" id="size" name="size" [(ngModel)]="sanPhamChiTietRequest.size.id">
                    <option value="" disabled selected>Chọn size</option>
                    <option *ngFor="let size of sizes" [value]="size.id">{{size.ten}}</option>
                  </select>
                  <label for="size">Size</label>
                </div>
                <div class="input-field">
                  <select class="input" id="mauSac" name="mauSac" [(ngModel)]="sanPhamChiTietRequest.mauSac.id">
                    <option value="" disabled selected>Chọn màu sắc</option>
                    <option *ngFor="let mauSac of mauSacs" [value]="mauSac.id">{{mauSac.ten}}</option>
                  </select>
                  <label for="mauSac">Màu sắc</label>
                </div>
              </div>
              <div class="input-row">
                <div class="input-field">
                  <select class="input" id="trangThai" name="trangThai" [(ngModel)]="sanPhamChiTietRequest.trangThai">
                    <option value="" disabled selected>Chọn trạng thái</option>
                    <option value="1">Hoạt động</option>
                    <option value="0">Không hoạt động</option>
                  </select>
                  <label for="trangThai">Trạng thái</label>
                </div>
              </div>
              <button type="button" class="btn-primary" 
              *ngIf="!sanPhamChiTietRequest.id" 
              (click)="addSanPhamChiTiet()">Thêm</button>
            <button type="button" class="btn-primary" 
              *ngIf="sanPhamChiTietRequest.id" 
              (click)="updateSanPham()">Cập nhật</button>    
            </form>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="product-table">
            <thead>
              <tr>
                <th>Mã sản phẩm chi tiết</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
                <th>Size</th>
                <th>Màu sắc</th>
                <th>Trạng thái</th>
                <th colspan="2">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sanPham of sanPhamChiTiets">
                <td>{{ sanPham.ma }}</td>
                <td>{{ sanPham.tenSanPham }}</td>
                <td>{{ sanPham.gia }}</td>
                <td>{{ sanPham.soLuong }}</td>
                <td>{{ sanPham.ngayTao }}</td>
                <td>{{ sanPham.ngaySua }}</td>
                <td>{{ sanPham.tenSize }}</td>
                <td>{{ sanPham.tenMauSac }}</td>
                <td>{{ sanPham.trangThai === 1 ? "Hoạt động" : "Không hoạt động" }}</td>
                <td>
                  <button class="button btn-primary">Chi tiết</button>
                  <a href="" class="button btn-danger">Sửa</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



