
<div>
  <p class="title">Danh sách sản phẩm</p>
  <div class="filter-container">
    <p class="filter">Tìm kiếm sản phẩm</p>
    <input type="text" class="search-input" name="ten" placeholder="Nhập tên sản phẩm..." 
    [(ngModel)]="searchFilter.ten" (input)="onSearchFilterChange()">
  </div>
</div>
<div class="bordered-container">
  <div class="input-row">
    <!-- Combobox 1 -->
    <div class="input-field">
      <select class="input" id="thuongHieu" name="thuongHieu" [(ngModel)]="searchFilter.thuongHieu.id" (change)="onSearchFilterChange()">
        <option value="" selected>Chọn thương hiệu</option>
        <option *ngFor="let thuongHieu of thuongHieus" [value]="thuongHieu.id">{{thuongHieu.ten}}</option>
      </select>
      <label for="thuongHieu">Thương hiệu</label>
    </div>

    <!-- Combobox 2 -->
    <div class="input-field">
      <select class="input" id="xuatXu" name="xuatXu" [(ngModel)]="searchFilter.xuatXu.id" (change)="onSearchFilterChange()">
        <option value="" selected>Chọn xuất xứ</option>
        <option *ngFor="let xuatXu of xuatXus" [value]="xuatXu.id">{{xuatXu.ten}}</option>
      </select>
      <label for="xuatXu">Xuất xứ</label>
    </div>

    <!-- Combobox 3 -->
    <div class="input-field">
      <select class="input" id="chatLieu" name="chatLieu" [(ngModel)]="searchFilter.chatLieu.id" (change)="onSearchFilterChange()">
        <option value="" selected>Chọn chất liệu</option>
        <option *ngFor="let chatLieu of chatLieus" [value]="chatLieu.id">{{chatLieu.ten}}</option>
      </select>
      <label for="chatLieu">Chất liệu</label>
    </div>

    <!-- Combobox 4 -->
    <div class="input-field">
      <select class="input" id="coAo" name="coAo" [(ngModel)]="searchFilter.coAo.id" (change)="onSearchFilterChange()">
        <option value="" selected>Chọn cổ áo</option>
        <option *ngFor="let coAo of coAos" [value]="coAo.id">{{coAo.ten}}</option>
      </select>
      <label for="coAo">Cổ áo</label>
    </div>

    <!-- Combobox 5 -->
    <div class="input-field">
      <select class="input" id="trangThai" name="trangThai" [(ngModel)]="searchFilter.trangThai" (change)="onSearchFilterChange()">
        <option value="" selected>Chọn trạng thái</option>
        <option value="1">Hoạt động</option>
        <option value="0">Không hoạt động</option>
      </select>
      <label for="trangThai">Trạng thái</label>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="showModal" (click)="closeModalSanPham()">
  <div class="modal-box" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModalSanPham()">×</button>
    <form>
      <div class="input-row">
        <div class="input-field">
          <input type="text" class="input" id="ma" name="ma" [(ngModel)]="sanPhamRequest.ma" autocomplete="off" readonly>
          <label for="ma">Mã sản phẩm</label>
        </div>
        <div class="input-field error">
          <input type="text" class="input" id="ten" name="ten" [(ngModel)]="sanPhamRequest.ten">
          <label for="ten">Tên sản phẩm</label>
          <div *ngIf="validationErrors['ten']" class="error-message">{{ validationErrors['ten'] }}</div>
        </div>
        <div class="input-field error">
          <select class="input" id="thuongHieu" name="thuongHieu" [(ngModel)]="sanPhamRequest.thuongHieu.id">
            <option value="" selected>Chọn thương hiệu</option>
            <option *ngFor="let thuongHieu of thuongHieus" [value]="thuongHieu.id">{{thuongHieu.ten}}</option>
          </select>
          <label for="thuongHieu">Thương hiệu</label>
          <div *ngIf="validationErrors['thuongHieu']" class="error-message">{{ validationErrors['thuongHieu'] }}</div>
        </div>
      </div>
      <div class="input-row">
        <div class="input-field error">
          <select class="input" id="xuatXu" name="xuatXu" [(ngModel)]="sanPhamRequest.xuatXu.id">
            <option value="" selected>Chọn xuất xứ</option>
            <option *ngFor="let xuatXu of xuatXus" [value]="xuatXu.id">{{xuatXu.ten}}</option>
          </select>
          <label for="xuatXu">Xuất xứ</label>
          <div *ngIf="validationErrors['xuatXu']" class="error-message">{{ validationErrors['xuatXu'] }}</div>
        </div>
        <div class="input-field error">
          <select class="input" id="chatLieu" name="chatLieu" [(ngModel)]="sanPhamRequest.chatLieu.id">
            <option value="" selected>Chọn chất liệu</option>
            <option *ngFor="let chatLieu of chatLieus" [value]="chatLieu.id">{{chatLieu.ten}}</option>
          </select>
          <label for="chatLieu">Chất liệu</label>
          <div *ngIf="validationErrors['chatLieu']" class="error-message">{{ validationErrors['chatLieu'] }}</div>
        </div>
        <div class="input-field error">
          <select class="input" id="coAo" name="coAo" [(ngModel)]="sanPhamRequest.coAo.id">
            <option value="" selected>Chọn cổ áo</option>
            <option *ngFor="let coAo of coAos" [value]="coAo.id">{{coAo.ten}}</option>
          </select>
          <label for="coAo">Cổ áo</label>
          <div *ngIf="validationErrors['coAo']" class="error-message">{{ validationErrors['coAo'] }}</div>
        </div>
      </div>
      <div class="input-row">
        <div class="input-field error">
          <select class="input" id="trangThai" name="trangThai" [(ngModel)]="sanPhamRequest.trangThai">
            <option value="" selected>Chọn trạng thái</option>
            <option value="1">Hoạt động</option>
            <option value="0">Không hoạt động</option>
          </select>
          <label for="trangThai">Trạng thái</label>
          <div *ngIf="validationErrors['trangThai']" class="error-message">{{ validationErrors['trangThai'] }}</div>
        </div>
      </div>
      <button type="button" class="btn-primary" 
        *ngIf="!sanPhamRequest.id" 
        (click)="addSanPham()">Thêm</button>
      <button type="button" class="btn-primary" 
        *ngIf="sanPhamRequest.id" 
        (click)="updateSanPham()">Cập nhật</button>    
    </form>
  </div>
</div>


<div class="table-container">
  <div class="button-row">
    <button (click)="openModalSanPham()" class="button btn-primary">Thêm sản phẩm</button>
    <button  (click)="openModalThuocTinh()" class="button btn-primary">Quản lý thuộc tính</button>
    <div class="modal-overlay" *ngIf="showModalThuocTinh" (click)="closeModalThuocTinh()">
      <div class="modal-box" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeModalThuocTinh()">×</button>
        <form>
          <div class="thuoc-tinh">
            <div class="input-field error">
              <input type="text" class="input" id="ma" name="ma" [(ngModel)]="getSelectedRequest().ma" autocomplete="off" readonly>
              <label for="ma">Mã thuộc tính</label>
            </div>
            <div class="input-field error">
              <input type="text" class="input" id="ten" name="ten" [(ngModel)]="getSelectedRequest().ten">
              <label for="ten">Tên thuộc tính</label>
              <div *ngIf="validationErrors['ten']" class="error-message">{{ validationErrors['ten'] }}</div>
            </div>
            <div class="input-field error">
              <select class="input" id="trangThai1" name="trangThai" [(ngModel)]="getSelectedRequest().trangThai">
                <option value="" disabled selected>Chọn trạng thái</option>
                <option value="1">Hoạt động</option>
                <option value="0">Không hoạt động</option>
              </select>
              <label for="trangThai">Trạng thái</label>
              <div *ngIf="validationErrors['trangThai']" class="error-message">{{ validationErrors['trangThai'] }}</div>
            </div>
          </div>
            
            <div class="radio-group">
              <label><input type="radio" name="thuocTinh" value="thuongHieu" [(ngModel)]="selectedThuocTinh"> Thương hiệu</label>
              <label><input type="radio" name="thuocTinh" value="chatLieu" [(ngModel)]="selectedThuocTinh"> Chất liệu</label>
              <label><input type="radio" name="thuocTinh" value="coAo" [(ngModel)]="selectedThuocTinh"> Cổ áo</label>
              <label><input type="radio" name="thuocTinh" value="mauSac" [(ngModel)]="selectedThuocTinh"> Màu sắc</label>
              <label><input type="radio" name="thuocTinh" value="size" [(ngModel)]="selectedThuocTinh"> Size</label>
              <label><input type="radio" name="thuocTinh" value="xuatXu" [(ngModel)]="selectedThuocTinh"> Xuất xứ</label>
            </div>            
          <button type="button" class="btn-primary" (click)="addThuocTinh()">Thêm</button>
        </form>
      </div>
    </div>
    <button (click)="xuatFileExcel()" class="button btn-primary">Xuất file excel</button>
  </div>
  <div class="table-scrollable">
    <table class="product-table">
      <thead>
        <tr>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Thương hiệu</th>
          <th>Xuất xứ</th>
          <th>Chất liệu</th>
          <th>Cổ áo</th>
          <th>Ngày tạo</th>
          <th>Ngày sửa</th>
          <th>Trạng thái</th>
          <th colspan="2">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sanPham of sanPhams">
          <td>{{ sanPham.ma }}</td>
          <td>{{ sanPham.ten }}</td>
          <td>{{ sanPham.tenThuongHieu }}</td>
          <td>{{ sanPham.tenXuatXu }}</td>
          <td>{{ sanPham.tenChatLieu }}</td>
          <td>{{ sanPham.tenCoAo }}</td>
          <td>{{ sanPham.ngayTao }}</td>
          <td>{{ sanPham.ngaySua }}</td>
          <td>{{ sanPham.trangThai === 1 ? "Hoạt động" : "Không hoạt động" }}</td>
          <td>
              <button (click)="openModalSanPhamChiTiet(sanPham.id)" class="button btn-primary">Chi tiết</button>
              <a href="javascript:void(0);" (click)="editSanPham(sanPham)" class="button btn-danger">Sửa</a>
              <button (click)="openModalQuanLyAnh(sanPham.id)" class="button btn-primary">Quản lý ảnh</button>
          </td>          
        </tr>
      </tbody>
    </table>

   <!-- quản lý ảnh -->
    <div class="modal-overlay" *ngIf="showModalQuanLyAnh" (click)="closeQuanLyAnh()">
      <div class="modal-boxanh" (click)="$event.stopPropagation()">
        <button class="close-btn1" (click)="closeQuanLyAnh()">×</button>
        <form>
          <div class="image-list">
            <h5 style="color: #294764;">Ảnh hiện có</h5>
            <div class="image-container">
              <div class="image-item" *ngFor="let anh of anhHienCo">
                <img [src]="anh.anhUrl" class="image-preview">
                <button class="delete-btn" (click)="xoaAnh(anh.id)">×</button>
              </div>
            </div>
          </div>
          <!-- Input chọn file -->
          <div class="upload-section">
            <h5 style="color: #294764; padding-top: 10px;">Chọn ảnh</h5>
            <input type="file" #fileInput multiple (change)="onFileSelected($event,fileInput)">
          </div>

          <!-- Ảnh đã chọn -->
          <div class="selected-images">
            <h5 style="color: #294764; padding-top: 10px;">Ảnh đã chọn</h5>
            <div class="image-container">
              <div class="image-item" *ngFor="let file of selectedFiles; let i = index">
                <img [src]="getImagePreview(file)" alt="Ảnh mới" class="image-preview">
                <button class="delete-btn" (click)="xoaAnhDaChon(i, fileInput)">×</button>
              </div>
            </div>
          </div>      
          <div class="modal-footer">
            <button type="button" class="btn-primary" (click)="uploadAnh()">Lưu</button>
          </div>
        </form>
      </div>
    </div>
      
  </div>
  <div class="pagination">
    <button (click)="changeSanPhamPage(currentSanPhamPage - 1)" 
            [disabled]="currentSanPhamPage === 0"><<</button>
    
    <span>{{ currentSanPhamPage + 1 }} / {{ totalSanPhamPages }}</span>
    
    <button (click)="changeSanPhamPage(currentSanPhamPage + 1)" 
            [disabled]="currentSanPhamPage + 1 >= totalSanPhamPages">>></button>
  </div>  
</div>

<!-- Modal Chi Tiết -->
<div class="modal-overlay" *ngIf="showModalSanPhamChiTiet" (click)="closeModalSanPhamChiTiet()">
  <div class="modal-box modal-full" (click)="$event.stopPropagation()">
    <!-- Nút Close -->
    <button class="close-btn" (click)="closeModalSanPhamChiTiet()">×</button>
    <div>
      <p class="title">Danh sách sản phẩm chi tiết</p>
      <p class="filter">Tìm kiếm sản phẩm chi tiết</p>
    </div>
    <div class="bordered-container">
      <div class="input-row">
        <!-- Combobox 1 -->
          <div class="input-field">
            <input type="text" class="input" id="gia" name="gia" [(ngModel)]="searchFilterSanPhamChiTiet.gia" (ngModelChange)="onSearchSanPhamChiTiet()">
            <label for="gia">Giá</label>
          </div>
    
        <!-- Combobox 2 -->
        <div class="input-field">
          <input type="text" class="input" id="soLuong" name="soLuong" [(ngModel)]="searchFilterSanPhamChiTiet.soLuong" (ngModelChange)="onSearchSanPhamChiTiet()">
          <label for="soLuong">Số lượng</label>
        </div>
    
        <!-- Combobox 3 -->
        <div class="input-field">
          <select class="input" id="size" name="size" [(ngModel)]="searchFilterSanPhamChiTiet.size.id" (ngModelChange)="onSearchSanPhamChiTiet()">
            <option value="" selected>Chọn size</option>
            <option *ngFor="let size of sizes" [value]="size.id">{{size.ten}}</option>
          </select>
          <label for="size">Size</label>
        </div>
    
        <!-- Combobox 4 -->
        <div class="input-field">
          <select class="input" id="mauSac" name="mauSac" [(ngModel)]="searchFilterSanPhamChiTiet.mauSac.id" (ngModelChange)="onSearchSanPhamChiTiet()">
            <option value="" selected>Chọn màu sắc</option>
            <option *ngFor="let mauSac of mauSacs" [value]="mauSac.id">{{mauSac.ten}}</option>
          </select>
          <label for="mauSac">Màu sắc</label>
        </div>
    
        <!-- Combobox 5 -->
        <div class="input-field">
          <select class="input" id="trangThai" name="trangThai" [(ngModel)]="searchFilterSanPhamChiTiet.trangThai" (ngModelChange)="onSearchSanPhamChiTiet()">
            <option value="" selected>Chọn trạng thái</option>
            <option value="1">Hoạt động</option>
            <option value="0">Không hoạt động</option>
          </select>
          <label for="trangThai">Trạng thái</label>
        </div>
      </div>
    </div>
    <div class="detail-container">
      <div class="table-container">
        <div class="button-row">
          <button (click)="openModalSanPhamChiTietThem()" class="button btn-primary">Thêm sản phẩm chi tiết</button>
          <button class="button btn-primary" (click)="xuatFileExcelSanPhamChiTiet(selectedProduct.id)">Xuất file excel</button>
        </div>
        <div class="modal-overlay" *ngIf="showModalSanPhamChiTietThem" (click)="closeModalSanPhamChiTietThem()">
          <div class="modal-box" (click)="$event.stopPropagation()">
            <button class="close-btn" (click)="closeModalSanPhamChiTietThem()">×</button>
            <form>
              <div class="input-row">
                <div class="input-field">
                  <input type="text" class="input" id="ma" name="ma" [(ngModel)]="sanPhamChiTietRequest.ma" autocomplete="off" readonly>
                  <label for="ma">Mã sản phẩm chi tiết</label>
                </div>
                <div class="input-field">
                  <input type="text" class="input" id="ten" name="ten" [(ngModel)]="sanPhamChiTietRequest.sanPham.ten" readonly>
                  <label for="ten">Tên sản phẩm</label>
                </div>
                <div class="input-field error">
                  <input type="text" class="input" id="gia" name="gia" [(ngModel)]="sanPhamChiTietRequest.gia">
                  <label for="gia">Giá</label>
                  <div *ngIf="validationErrors['gia']" class="error-message">{{ validationErrors['gia'] }}</div>
                </div>
              </div>
              <div class="input-row">
                <div class="input-field error">
                  <input type="text" class="input" id="soLuong" name="soLuong" [(ngModel)]="sanPhamChiTietRequest.soLuong">
                  <label for="soLuong">Số lượng</label>
                  <div *ngIf="validationErrors['soLuong']" class="error-message">{{ validationErrors['soLuong'] }}</div>
                </div>
                <div class="input-field error">
                  <select class="input" id="size" name="size" [(ngModel)]="sanPhamChiTietRequest.size.id">
                    <option value="" disabled selected>Chọn size</option>
                    <option *ngFor="let size of sizes" [value]="size.id">{{size.ten}}</option>
                  </select>
                  <label for="size">Size</label>
                  <div *ngIf="validationErrors['size']" class="error-message">{{ validationErrors['size'] }}</div>                  
                </div>
                <div class="input-field error">
                  <select class="input" id="mauSac" name="mauSac" [(ngModel)]="sanPhamChiTietRequest.mauSac.id">
                    <option value="" disabled selected>Chọn màu sắc</option>
                    <option *ngFor="let mauSac of mauSacs" [value]="mauSac.id">{{mauSac.ten}}</option>
                  </select>
                  <label for="mauSac">Màu sắc</label>
                  <div *ngIf="validationErrors['mauSac']" class="error-message">{{ validationErrors['mauSac'] }}</div>                  
                </div>
              </div>
              <div class="input-row">
                <div class="input-field error">
                  <select class="input" id="trangThai" name="trangThai" [(ngModel)]="sanPhamChiTietRequest.trangThai">
                    <option value="" disabled selected>Chọn trạng thái</option>
                    <option value="1">Hoạt động</option>
                    <option value="0">Không hoạt động</option>
                  </select>
                  <label for="trangThai">Trạng thái</label>
                  <div *ngIf="validationErrors['trangThai']" class="error-message">{{ validationErrors['trangThai'] }}</div>
                </div>
              </div>
              <button type="button" class="btn-primary" 
              *ngIf="!sanPhamChiTietRequest.id" 
              (click)="addSanPhamChiTiet()">Thêm</button>
            
            <button type="button" class="btn-primary" 
              *ngIf="sanPhamChiTietRequest.id" 
              (click)="updateSanPhamChiTiet()">Cập nhật</button>             
            </form>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="product-table">
            <thead>
              <tr>
                <th>Mã sản phẩm chi tiết</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
                <th>Size</th>
                <th>Màu sắc</th>
                <th>Trạng thái</th>
                <th colspan="2">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sanPham of sanPhamChiTiets">
                <td>{{ sanPham.ma }}</td>
                <td>{{ sanPham.tenSanPham }}</td>
                <td>{{ sanPham.gia }}</td>
                <td>{{ sanPham.soLuong }}</td>
                <td>{{ sanPham.ngayTao }}</td>
                <td>{{ sanPham.ngaySua }}</td>
                <td>{{ sanPham.tenSize }}</td>
                <td>{{ sanPham.tenMauSac }}</td>
                <td>{{ sanPham.trangThai === 1 ? "Hoạt động" : "Không hoạt động" }}</td>
                <td>
                  <a href="javascript:void(0);"  (click)="editSanPhamChiTiet(sanPham)" class="button btn-danger">Sửa</a>
                </td>
              </tr>
            </tbody>
          </table> 
          <div class="pagination">
            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0"><<</button>
            
            <span class="current-page">{{ currentPage + 1 }} / {{ totalPages }}</span>
            
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">>></button>
          </div>                   
        </div>
      </div>
    </div>
  </div>
</div>